body {
	background-color: #35654d;
}

#errorMsg{
	text-align: center;
	color: white;
	font-family: 'Montserrat',sans-serif;
	margin: 1vh 0vw 1vh;
	font-size: 4vw;
}

#heading {
	font-family: 'Righteous', cursive;
	text-align: center;
	font-size: 7vw;
	color: white;
	margin: 2vh 0vw 5vh;
}

#deckOfCards {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 350px;
}

#signature {
	color: white;
	font-family: 'Montserrat',sans-serif;
	font-size: 20px;
	margin: 1vh;
}