body {
	background-color: #35654d;
}

#instructions {
	text-align: center;
	color: black;
}

#heading {
	font-family: 'Righteous', cursive;
	text-align: center;
	font-size: 7vw;
	color: white;
}

#deckOfCards {
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

#signature {
	color: white;
	font-family: 'Montserrat',sans-serif;
}